.form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 80%;
  margin: 2rem auto;
}

.title {
  text-align: center;
}

.formGroup {
  width: 650px;
  max-width: 80%;
}

.formGroup input,
.formGroup textarea {
  appearance: none;
  border: none;
  display: block;
  width: 100% !important;
  color: #333;
  padding: 0.5em 1em;
  margin-top: 1rem;
  border-radius: 3px;
  outline: 0.1em solid currentColor;
}

.formGroup input:focus,
.formGroup textarea:focus {
  outline: 0.15em solid hsl(210, 100%, 60%);
  box-shadow: 0 0 0.3em hsl(210, 100%, 60%);
}

.formGroup textarea {
  resize: none;
  height: 150px !important;
}

.error {
  display: block;
  font-size: 0.8em;
  margin: 0.5em 1em 0;
  padding: 0.5em 1em;
  border-radius: 5em;

  color: #f03 !important;
  background-color: #fcc;
}

.success {
  display: block;
  font-size: 0.8em;
  margin: 0.5em 1em 0;
  padding: 0.5em 1em;
  border-radius: 5em;
  color: hsl(240, 100%, 50%) !important;
  background-color: hsl(180, 100%, 90%);
}

.form button {
  appearance: none;
  border: none;
  outline: none;
  background-color: #333;
  color: #fff;
  border-radius: 5em;
  margin: 1rem 0;
  padding: 0.5em 5em;
  cursor: pointer;
}
